<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie6 lazy " lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie7 lazy " lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie8 lazy " lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9 lazy " lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"></meta>
    <title>测试页面</title>
    <!-- icon -->
    <link rel="icon" href="https://file.mahoooo.com/res/file/favicon32.ico" sizes="32x32"></link>
</head>
<body>
<div id="root">就是一个测试页面</div>
<div id="modal-root"></div>
</body>
</html>
